* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .home-container {
    height: 100vh;
    width: 100vw;
    background: url('../assets/Dalhouise_bg.jpeg');
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .logo {
    font-size: 1.8em;
    font-weight: bold;
  }
  
  .nav-link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .content {
    margin-top: 50px;
    background: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 50%;
    text-align: center;
  }
  
  .tagline {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .description {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .cta-buttons {
    margin-top: 20px;
  }
  
  .shop-button, .sell-button {
    padding: 12px 25px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 10px;
  }
  
  .shop-button {
    background: #ff9900;
  }
  
  .sell-button {
    background: #00cc66;
  }
